.box-container {
  padding: 5px 10px;
  min-width: 120px;
  min-height: 120px;
  background-image: url("../../../../../assets/box.png");
  background-size: 120px 120px;
  border: darkgray 2px solid;
}