.game-main-container {
  display: flex;
  flex-direction: row;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.categories-list {
  max-height: 536px;
  overflow-y: auto;
}

.game-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 5px;
}

.h4-text {
  color: white;
}
